<div class="container-fluid">
    <div class="text-center">
        <div class="row">
            <div class="col-6">
                <small class="mx-auto">&copy;2021 By Mary Armstrong</small>

                
            </div>
            <div class="col-6">
                <small>
                    <ul class="list-unstyled mx-auto">
                        <li>Developer Contact:</li>
                        <li><a class="text-secondary" href="https://github.com/Marms314">GitHub</a></li>
                        <li><a class="text-secondary" href="mailto:MaryArmstrong314@GMail.com">Email</a></li>
                    </ul>
                </small>
            </div>
        </div>
    </div>
</div>